<!DOCTYPE html>
<html>
<head>
    <title>De Doos</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./CSS/stylesheet.css">
    <script>	
        window.onload = function() {

	var json_raw = ("{{db}}").replace(/&quot;/g,'"');// decode xml chars
	var json = JSON.parse(json_raw);// parse json object

	// sort by points
	json.names.sort(function(a,b){
		return b.points - a.points;
	});

	console.log(json);
	var table = document.getElementById("table");

	// show on table
	for (i = 0; i < json.names.length; i++) {
		var rank = (i + 1).toString();
		var img =  '<img src="./Pictures/' + json.names[i].img + '" alt="Error" height="50" width="50" />';
		var name = json.names[i].name;
		var points = json.names[i].points
    		var string = ("<tr><td>" + rank + "</td><td>" + img + "</td><td>" + name + "</td><td>" + points + "</td></tr>");
		table.innerHTML = table.innerHTML + string;
    	}
    	
  /*
  var array_name = ("{{name}}").split(",");
  var array_points = ("{{points}}").split(",");
  var i = 0;
  while (array_name.length > i) {
    var name = array_name[i]
    var points = array_points[i].toString();
    var string = ("<tr><td>" + name + "</td><td>" + points + '</td></tr>');
    var table = document.getElementById("table");
    table.innerHTML = table.innerHTML + string;
    i = i + 1;
    }*/

}
    </script>

</head>
<body>
    <table id="table" class="w3-table w3-striped w3-bordered">
	<tr class="w3-light-grey"><th></th><th></th><th>Naam</th><th>Punten</th></tr>
    </table>
</body>
</html>
